.minimap {
    position: relative;
    height: 72px;

    &__events, &__hightlighted, &__hightlighted-wrapper {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    &__events {
        .minimap-events {
            background: transparent;

            .minimap-events__event {
                background: #464E70;
            }
        }
    }

    &__hightlighted-wrapper {
        overflow: hidden;
    }

    &__hightlighted {
        .minimap-events {
            background: #11193E;

            .minimap-events__event {
                position: absolute;
                background: #EAA844;
            }
        }
    }
}