.CenturiesNavBar {
    height: 100%;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 0 4rem;
    background: #303030;

    &__Contents {
        height: 100%;
        width: 100%;
        position: relative;
    }

    &__Items {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__Item {
        color: white;
        text-decoration: none;
        font-size: 1.8rem;
        min-width: 80px;
        text-align: center;
    }

    &__Item-text {
        font-size: 1.2rem;
    }

    &__ScrollPositionIndicator {
        height: 1px;
        background: white;
        position: absolute;
        top: 50px;
    }

    &__indicator {
        position: absolute;
        left: 0;
    }
}
