.mobile-minimap {
    position: relative;
    width: 100%;
    height: 100%;
    background: #232A4A;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);

    &__wrapper {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
    }
}