@import "../styles/mixins.scss";

$image-size: 128px;
$image-border-size: 2px;
$card-size: $image-size + $image-border-size * 2;

.Card {
    &:hover {

        .Card__Entry {
            z-index: 999;
            text-shadow: none;
            max-height: fit-content;
            background: white;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
        }

        .Card__Range {
            z-index: 999;
            visibility: visible;
        }

        .Card__Title {
            display: block;
            color: #222;
        }

        .Card__ShortDescription {
            color: #333;
            display: block;
        }

        .Card__Date {
            display: block;
            color: #666;
        }

        .Card__WikiLink {
            display: inline;
        }
    }

    &__Range {
        position: absolute;
        visibility: hidden;
        left: 2rem;
        width: 0.5rem;
        min-height: 0.5rem;
        background: rgba(255, 255, 255, 0.5);
        border: 1px solid white;
        border-width: 1px 0;
        box-sizing: border-box;
    }

    &__Entry {
        position: absolute;
        max-width: 20rem;
        display: flex;
        flex-direction: row-reverse;
        border-radius: 0.25rem;
        overflow: visible;
        text-align: left;
        max-height: $card-size;
        min-height: $card-size;
        transition-duration: 0.5s;
        box-sizing: border-box;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    }

    &__Body {
        padding: 0 0.5rem;
    }

    &__Title {
        color: #eee;
        margin: 0.25rem 0 0;

        @include phone-only {    
            display: none;
        }
    }

    &__TitleLink, &__TitleLink:visited {
        color: inherit;
        text-decoration: none;
    }

    &__WikiLink {
        display: none;
        color: #4d79ff;
        text-decoration: none;
        font-size: 0.8rem;
        vertical-align: super;
    }

    &__Date {
        font-size: 0.6rem;
        color: #eee;
        @include phone-only {    
            display: none;
        }
    }

    &__ShortDescription {
        display: none;
        padding: 0.5rem 0;
        font-size: 0.8rem;
    }

    &__ImgWrapper {
        max-width: $card-size;
        max-height: $card-size;

        & img {
            border: $image-border-size solid #fff;
            border-radius: 0.25rem;
            max-width: $image-size;
            max-height: $image-size;
        }
    }
}