.Scales {
    position: relative;
    height: 100vh;
    padding: 1rem 0 3rem;
    box-sizing: border-box;
    position: relative;

    &__Events {
        margin-bottom: 1rem;
        position: relative;
        height: 100%;
        box-sizing: border-box;
    }

    &__Centuries {
        display: flex;
        flex-wrap: nowrap;
        position: absolute;
        bottom: 0;
        padding-bottom: 1rem;
    }

    &__Century {
        flex-grow: 0;
        flex-shrink: 0;
        box-sizing: border-box;
        height: 100%;
        position: relative;

        & > a, & > a:link {
            position: absolute;
            bottom: 0;
            display: inline-block;
            padding: 0.25rem;
            text-decoration: none;
            color: rgba(255, 255, 255, 0.25);

            &:hover{
                color: white;
            }
        }
    }
}