.Scales {
    position: relative;
    height: 100vh;
    padding: 1rem 0;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;

    &__Events {
        margin-bottom: 1rem;
        position: relative;
        flex-grow: 1;
        box-sizing: border-box;
    }

    &__Centuries {
        flex-basis: 20px;
        display: flex;
        flex-wrap: nowrap;
    }

    &__Century {
        flex-grow: 0;
        flex-shrink: 0;
        box-sizing: border-box;
        height: 100%;
        position: relative;

        & > a, & > a:link {
            position: absolute;
            bottom: 0;
            display: inline-block;
            padding: 0.25rem;
            text-decoration: none;
            color: rgba(255, 255, 255, 0.25);

            &:hover{
                color: white;
            }
        }
    }
}