.timeline {
    position: relative;
    height: 100vh;
    padding: 64px 0 111px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    &__events {
        margin-bottom: 1rem;
        position: relative;
        flex-grow: 1;
        box-sizing: border-box;
    }

    &__navigation-container {
        position: fixed;
        z-index: 1002;
        bottom: 0;
        right: 0;
        left: 0;
    }

    &__navbar {
        height: 39px;
        line-height: 39px;
    }

}
