.EventPage {
    padding: 4rem 3rem;
    right: 1.5rem;
    bottom: 87px; // bottom nav bar + some padding
    top: 1.5rem;
    width: 33%;
    position: fixed;
    z-index: 2000;
    overflow: auto;
    box-sizing: border-box;
    overscroll-behavior: contain;
    background: #303030;
    color: #fff;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    &__Edit {
        opacity: .7;
        transition: opacity 300ms ease;
        margin-left: 1rem;

        svg {
            fill: #fff;
        }

        &:hover {
            opacity: 1;
        }
    }

    &__Close {
        position: absolute;
        top: 1.2rem;
        left: 1.2rem;
        color: #fff;
        opacity: .3;
        font-size: 2rem;
        font-weight: 600;
        line-height: 1;
        text-decoration: none;
        transition: opacity 300ms ease;

        &:hover {
            opacity: 1;
        }
    }

    &__head {
        margin-bottom: 2rem;
    }

    &__title {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1;
        margin: 0 0 1rem;
    }

    &__sub-title {
        font-size: 1.8rem;
        font-weight: 400;
        margin: 0;
        opacity: .7;
        line-height: 1;
    }

    &__description {
        font-size: 1.4rem;
    }


}

.Share-box {
    display: flex;
    align-items: center;

    &__text {
        font-size: 1.2rem;
        margin: 0;
    }

    &__icon {
        opacity: .5;
        margin-left: 1rem;
        padding: .2rem;
        cursor: pointer;
        transition: opacity 300ms ease;

        &:hover {
            opacity: 1;
        }
    }
}

.wikilink {
    color: #fff;
    opacity: .7;
    cursor: pointer;
    font-size: 1.2rem;
    line-height: 1;
    align-items: center;
    display: flex;
    margin: 1rem 0;
    text-decoration: none;
    transition: opacity 300ms ease;

    svg {
        margin-left: .5rem;
    }

    &:hover {
        opacity: 1;
        text-decoration: underline;
    }

}

