.EventPage {
    background: white;
    padding: 1rem;
    right: 0.5rem;
    bottom: 0.5rem;
    top: 0.5rem;
    width: 33%;
    position: fixed;
    z-index: 2000;
    overflow: auto;
    box-sizing: border-box;
    overscroll-behavior: contain;
}