.mobile-decades {
    height: 100%;

    &__wrapper {
        position: relative;
        height: 100%;
    }

    &__decade {
        position: absolute;
        top: 32px;
        height: 100%;
        border-left: 1px solid rgba(255, 255, 255, 0.1);
    }
}