.navigation {
    height: 100%;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 0 1rem;
    background: #232A4A;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.1);


    &__bar {
        height: 100%;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }    

    &__item {
        color: white;
        text-decoration: none;
        font-size: 1.8rem;
        min-width: 80px;
        text-align: center;
    }

    &__item-text {
        font-size: 1.2rem;
    }

    &__indicator  {
        height: 1px;
        background: white;
        position: absolute;
        top: 50px;
        left: 0;
    }
}
