@import "./index.scss";

.App {
    text-align: center;

    &__Header {
        margin: 1rem;
    }

    &__Body {
        margin-top: 2rem;
    }

    &__Disclaimer {
        color: white;
        margin: 0 auto;
        max-width: 30rem;
    }
}