@import url('https://fonts.googleapis.com/css?family=Muli|Open+Sans&display=swap');

html {
    height: 100%;
    min-height: 100%;
    background:  #313A61;
    background: linear-gradient(180deg, #4F4365 0%, #313A61 100%);
    scroll-behavior: smooth;
    font-size: 62.5%;
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
}

body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: Muli, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
    overflow-y: hidden;
    overflow-x: auto;
}

#root {
    height: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
