html {
  min-height: 100%;

  background: #3991ca;  /* fallback for old browsers */
  background: -webkit-radial-gradient( #3991ca, #307cad);  /* Chrome 10-25, Safari 5.1-6 */
  background: radial-gradient( #3991ca, #307cad); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
