.RootPage {
    &__Contents{
        flex-grow: 1;
    }

    &__Subpage {
        width: 33%;
        height: 100%;
    }

    &__Header {
        text-align: center;
        margin: 1rem;
    }

    &__Body {}

    &__Disclaimer {
        color: white;
        margin: 0 auto;
        max-width: 30rem;
    }
}

.logo {
    color: #fff;
    font-size: 1.2rem;
    display: flex;
    width: fit-content;
    position: fixed;
    top: 30px;
    left: 40px;

    &__name {
        margin: 0 1rem;
    }
}